#generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  //border: 2px solid green;
}

#words-container {
  display: flex;
  border:2px solid #ababab;
}

@media only screen and (max-width: 768px) {
  #words-container {
    flex-direction: column;
  }
}