#generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px solid green;
}

#words-container {
  display: flex;
  border: 4px solid
}