.main-container {
  margin: auto;
  max-width: 80%;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  //border: 2px solid blue;
  text-align: center;
  color: #c88f74;
}

.background-castle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("./images/background-01.png");

}

.background-cloud1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("./images/background-02.png");

}

.background-cloud2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("./images/background-03.png");
}


@media only screen and (max-width: 768px) {
  .logo-container {
    max-width: 100%
  }

  #images {
    display: none;
  }
}