.App {
  //border: 2px solid blue;

}

.main-container {
  //border: 2px solid red;
  //height: 100vh;
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  //border: 2px solid purple;
  max-width: 90%;
  height: 50%;
  margin: auto
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 4px solid #a85d33;
  color: #76321b;
  word-break: break-word;
  background: #ffd392;
  padding: 1rem 1rem;
}

.background-castle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("./images/background-01.png");

}

.background-cloud1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("./images/background-02.png");

}

.background-cloud2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("./images/background-03.png");
}


@media only screen and (max-width: 768px) {
  .logo-container {
    max-width: 100%
  }

  #images {
    display: none;
  }
}